
    ul li { display:inline;}

    ul li a 
    {color: black;
border: 1px solid;
text-decoration: none;
padding: 10px 12px;
font: size 20px;}  

ul li a:hover:not(.active) 
{background-color: #000000;
color: aliceblue}


    